export(
"ShowAvailableOrg",
"GetPromoterAnno",
"bedtoolsr",
"GetChromLength",
"IdentifyBackground",
"Summerizebg",
"MBDDiff",
"CalculateTPM",
"MethyEnrich",
"pcaplot",
heatmap.3
)

import(
"dplyr",
"RMySQL",
"doParallel",
"rgl",
"gplots",
"princurve"
)

importFrom('data.table', 'fread')
importFrom('pracma', 'repmat')